In [1]:
import numpy as np

In [2]:
s=np.array([5,6,7])
s

array([5, 6, 7])

In [3]:
s.ndim  # to find dimension

1

In [4]:
t2=np.array([6,2,1,9])
t2

array([6, 2, 1, 9])

In [5]:
s
t2

array([6, 2, 1, 9])

In [6]:
k=[4,5,6]

In [7]:
k2=[4,2,1]

In [8]:
k+k2

[4, 5, 6, 4, 2, 1]

In [9]:
k=[5000,6000,7000,8000,12000,18000]

In [10]:
# list is dynamic, slow,store at index
# array is static, fast, store at index

for i in k:
    t=i*18/100
    print(t)

900.0
1080.0
1260.0
1440.0
2160.0
3240.0

In [11]:
g=np.array([5000,6000,7000,9000])
g

array([5000, 6000, 7000, 9000])

In [12]:
g*18/100

array([ 900., 1080., 1260., 1620.])

In [13]:
h=np.array([3,4,5,6,7,8,1,2,3,8,9,4])
h

array([3, 4, 5, 6, 7, 8, 1, 2, 3, 8, 9, 4])

In [14]:
np.sum(h)

60

In [15]:
np.max(h)

9

In [16]:
np.min(h)

1

In [17]:
np.mean(h)

5.0

In [18]:
np.median(h)

4.5

In [19]:
g=np.sort(h)

In [20]:
g[::-1] # to reverse the array

array([9, 8, 8, 7, 6, 5, 4, 4, 3, 3, 2, 1])

In [21]:
print(h[0])

3

In [22]:
print(h[3:8])

[6 7 8 1 2]

In [23]:
print(h[-2])

9

In [24]:
# Variance
np.var(h)

6.166666666666667

In [25]:
# different method to calcultae variance

t=np.mean(h)
t

5.0

In [26]:
k=t-h
k

array([ 2.,  1.,  0., -1., -2., -3.,  4.,  3.,  2., -3., -4.,  1.])

In [27]:
s=k**2

In [28]:
y= np.sum(s)/len(s)
y

6.166666666666667

In [29]:
# standard deviation using formula

np.std(h)

2.48327740429189

In [30]:
# standard deviation using variance
np.sqrt(y)

2.48327740429189

In [31]:
r=np.array([1,1,1,1,1,1])

In [32]:
np.var(r)  # variance is gap between two data points & it is also used to find outlier

0.0

In [33]:
m=np.array([9, 8, 8, 7, 6, 5, 4, 4, 3, 3, 2, 1])

In [34]:
m[3:8]

array([7, 6, 5, 4, 4])

In [35]:
m[4]

6

In [36]:
m[::-1]

array([1, 2, 3, 3, 4, 4, 5, 6, 7, 8, 8, 9])

In [37]:
np.where(m==9) # to search any no

(array([0], dtype=int64),)

In [38]:
np.insert(m,3,55) # to replace number

array([ 9,  8,  8, 55,  7,  6,  5,  4,  4,  3,  3,  2,  1])

In [39]:
m

array([9, 8, 8, 7, 6, 5, 4, 4, 3, 3, 2, 1])

In [40]:
m[::-1]

array([1, 2, 3, 3, 4, 4, 5, 6, 7, 8, 8, 9])

In [41]:
len(m)

12

In [42]:
np.any(m>8) # if any element is greater than 8

True

In [43]:
np.all(m>5) # if all element is greater than 8

False

In [44]:
v=np.array([5,6,1,2])

In [45]:
v2=np.array([2,3,4,1])

In [46]:
np.equal(v,v2).any()# we are checking any element between v and v2 is on same index

False

In [47]:
np.equal(v,v2).all()# we are checking all element between v and v2 is on same index

False

In [48]:
np.sqrt(m)

array([3.        , 2.82842712, 2.82842712, 2.64575131, 2.44948974,
       2.23606798, 2.        , 2.        , 1.73205081, 1.73205081,
       1.41421356, 1.        ])

In [49]:
np.cbrt(m)

array([2.08008382, 2.        , 2.        , 1.91293118, 1.81712059,
       1.70997595, 1.58740105, 1.58740105, 1.44224957, 1.44224957,
       1.25992105, 1.        ])

In [50]:
h=np.array([3,4,5,6,7,8,1,2])

In [51]:
len(h)

8

In [52]:
b= np.reshape(h,(2,4))
b

array([[3, 4, 5, 6],
       [7, 8, 1, 2]])

In [53]:
b.ndim

2

In [54]:
b.shape

(2, 4)

In [55]:
b.T  # transpose

array([[3, 7],
       [4, 8],
       [5, 1],
       [6, 2]])

In [56]:
b

array([[3, 4, 5, 6],
       [7, 8, 1, 2]])

In [57]:
p=np.array([[3,4,5],[1,2,3],[5,6,2]])

In [58]:
p.ndim  # to check dimension

2

In [59]:
p2=np.array([[5,4,1],[6,5,4],[2,3,9]])

In [60]:
p+p2  # Adding two metrix &  metrix should be of same shape

array([[ 8,  8,  6],
       [ 7,  7,  7],
       [ 7,  9, 11]])

In [61]:
p-p2  # subract two metrix  & metrix should be of same shape

array([[-2,  0,  4],
       [-5, -3, -1],
       [ 3,  3, -7]])

In [62]:
p/p2  # Divide two metrix

array([[0.6       , 1.        , 5.        ],
       [0.16666667, 0.4       , 0.75      ],
       [2.5       , 2.        , 0.22222222]])

In [63]:
p*p2  # Multiply two metrix

array([[15, 16,  5],
       [ 6, 10, 12],
       [10, 18, 18]])

In [64]:
import numpy as np

In [65]:
np.add(p,p2)   # second way to add two metrix

array([[ 8,  8,  6],
       [ 7,  7,  7],
       [ 7,  9, 11]])

In [66]:
np.multiply(p,p2)  # second way to multiply two metrix

array([[15, 16,  5],
       [ 6, 10, 12],
       [10, 18, 18]])

In [67]:
np.divide(p,p2)  # second way to divide two metrix

array([[0.6       , 1.        , 5.        ],
       [0.16666667, 0.4       , 0.75      ],
       [2.5       , 2.        , 0.22222222]])

In [68]:
np.subtract(p,p2)  # second way to subtract two metrix

array([[-2,  0,  4],
       [-5, -3, -1],
       [ 3,  3, -7]])

In [69]:
p

array([[3, 4, 5],
       [1, 2, 3],
       [5, 6, 2]])

In [70]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [71]:
# Convert 2d array to 1d array

p.flatten()

array([3, 4, 5, 1, 2, 3, 5, 6, 2])

In [72]:
# i want to max value from any metrix

np.max(p2)

9

In [73]:
# i want to min value from any metrix

np.min(p2)

1

In [74]:
# sum of all values in metrix

np.sum(p2)

39

In [75]:
np.dot(p,p2)  # to do vector multiplication and it doesn't matter the shape

array([[49, 47, 64],
       [23, 23, 36],
       [65, 56, 47]])

In [76]:
np.sum(p2,axis=0)  # axis =0 means we are adding column wise

array([13, 12, 14])

In [77]:
np.sum(p2,axis=1)  # axis =0 means we are adding row wise

array([10, 15, 14])

In [78]:
np.sort(p2,axis=0)  # we are sorting metrix column wise

array([[2, 3, 1],
       [5, 4, 4],
       [6, 5, 9]])

In [79]:
np.sort(p2,axis=1)  # we are sorting matrix row wise

array([[1, 4, 5],
       [4, 5, 6],
       [2, 3, 9]])

In [80]:
# indexing of a matrix
# first bracket is for row and second bracket is for column
p2[0][0]

5

In [81]:
p2[1][2]

4

In [82]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [83]:
p2[0]  # to get first row

array([5, 4, 1])

In [84]:
p2[1]  # to get second row

array([6, 5, 4])

In [85]:
p2[0:3,1:2]  # to get first column  it is also called slicing

array([[4],
       [5],
       [3]])

In [86]:
# to reverse the rows of a matrix

p2[::-1]

array([[2, 3, 9],
       [6, 5, 4],
       [5, 4, 1]])

In [87]:
import numpy as np

s=np.array([4,5,6,7])
s

array([4, 5, 6, 7])

In [88]:
s2=np.array([3,8,9,6])
s2

array([3, 8, 9, 6])

In [89]:
np.equal(s,s2).any()  # equal will check if any element is on same index

False

In [90]:
np.equal(s,s2).all() # equal will check if all element is on same index

False

In [91]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [92]:
p2.shape

(3, 3)

In [93]:
p2.ndim

2

In [94]:
p2.flatten()

array([5, 4, 1, 6, 5, 4, 2, 3, 9])

In [95]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [96]:
# to get inverse matrix

np.linalg.inv(p2)

array([[-3.        ,  3.        , -1.        ],
       [ 4.18181818, -3.90909091,  1.27272727],
       [-0.72727273,  0.63636364, -0.09090909]])

In [97]:
np.linalg.det(p2)   # to get determinate

-11.000000000000027

In [98]:
np.linalg.matrix_rank(p2)  # to get matrix rank

3

In [99]:
np.linalg.matrix_power(p2,2)   # to get matrix power

array([[51, 43, 30],
       [68, 61, 62],
       [46, 50, 95]])

In [100]:
np.zeros((3,3))  # to get empty matrix

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [101]:
np.ones((3,3))  # to get one matrix

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [102]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [103]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [104]:
np.where(p2==5)  # to search in matrix with where condition

(array([0, 1], dtype=int64), array([0, 1], dtype=int64))

In [105]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [106]:
np.unique(p2)  # to get unique values

array([1, 2, 3, 4, 5, 6, 9])

In [107]:
p

array([[3, 4, 5],
       [1, 2, 3],
       [5, 6, 2]])

In [108]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [109]:
# to get unique between two matrix

np.union1d(p2,p)

array([1, 2, 3, 4, 5, 6, 9])

In [110]:
# to merge two matrix

np.vstack((p,p2))  # to merge vertically

array([[3, 4, 5],
       [1, 2, 3],
       [5, 6, 2],
       [5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [111]:
np.hstack((p,p2))  # to merge horizontally

array([[3, 4, 5, 5, 4, 1],
       [1, 2, 3, 6, 5, 4],
       [5, 6, 2, 2, 3, 9]])

In [112]:
s

array([4, 5, 6, 7])

In [113]:
np.cumsum(s)  # cumultive sum

array([ 4,  9, 15, 22])

In [114]:
np.cumprod(s)  # cumultive product

array([  4,  20, 120, 840])

In [115]:
np.cumsum(p2,axis=0)  # cumultive sum column wise

array([[ 5,  4,  1],
       [11,  9,  5],
       [13, 12, 14]])

In [116]:
np.cumsum(p2,axis=1)  # cumultive sum row wise

array([[ 5,  9, 10],
       [ 6, 11, 15],
       [ 2,  5, 14]])

In [117]:
np.cumprod(p2,axis=0)  # cumultive product column wise

array([[ 5,  4,  1],
       [30, 20,  4],
       [60, 60, 36]])

In [118]:
np.cumprod(p2,axis=1)  # cumultive product row wise

array([[  5,  20,  20],
       [  6,  30, 120],
       [  2,   6,  54]])

In [119]:
p2.T  # transpose

array([[5, 6, 2],
       [4, 5, 3],
       [1, 4, 9]])

In [120]:
# to reverse matrix

p2[::-1]

array([[2, 3, 9],
       [6, 5, 4],
       [5, 4, 1]])

In [121]:
p2

array([[5, 4, 1],
       [6, 5, 4],
       [2, 3, 9]])

In [122]:
p2[::-1,::-1]

array([[9, 3, 2],
       [4, 5, 6],
       [1, 4, 5]])

In [123]:
# line space

np.linspace(0,5,4)

array([0.        , 1.66666667, 3.33333333, 5.        ])

In [124]:
# pandas is a predefined library in python to represent, collecting, analyize of data
#

In [125]:
import pandas as pd

In [126]:
df=pd.read_excel("C:/Users/Seema_Dhama/Desktop/Projects/Marketplace/Output File,"Order")
df

SyntaxError: unterminated string literal (detected at line 1) (1346575928.py, line 1)

In [128]:
df1=pd.read_csv("C:/Users/Seema_Dhama/Desktop/Projects/Marketplace/da.csv")
df1

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3366112234.py", line 1, in <module>
    df1=pd.read_csv("C:/Users/Seema_Dhama/Desktop/Projects/Marketplace/da.csv")
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 948, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 611, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 1448, in __init__
    self._engine = self._make_engine(f, self.engine)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 1705, in _make_engine
    self.handles = get_handle(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\common.py", line 863, in get_handle
    handle = open(
FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Seema_Dhama/Desktop/Projects/Marketplace/da.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
# to load server data  extract Transformation load(ETL)
import pymssql

In [129]:
# Mysql database connection
# import pymysql as sql

# db =sql.connect(host='localhost',user='root',password='ducat',db='test9am') 
# g=pd.read_sql_query("select * from employees",db)

In [130]:
cur.execute("SELECT * FROM Info")
records = cur.fetchall()
records

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\603465597.py", line 1, in <module>
    cur.execute("SELECT * FROM Info")
NameError: name 'cur' is not defined. Did you mean: 'chr'?

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [131]:
# to fetch json data
url= "C://Users//Seema_Dhama//PycharmProjects//Python learning//dwsample1.json"
df3=pd.read_json(url,orient='columns')
df3

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\compat\_optional.py", line 132, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Program Files\Python310\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1004, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'fsspec'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1497797232.py", line 3, in <module>
    df3=pd.read_json(url,orient='columns')
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\json\_json.py", line 780, in read_json
    json_reader = JsonReader(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\json\_json.py", line 893, in __init__
    data = self._get_data_from_filepath(filepath_or_buffer)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\json\_json.py", line 933, in _get_data_from_filepath
    self.handles = get_handle(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\common.py", line 718, in get_handle
    ioargs = _get_filepath_or_buffer(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\common.py", line 397, in _get_filepath_or_buffer
    fsspec = import_optional_dependency("fsspec")
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    raise ImportError(msg)
ImportError: Missing optional dependency 'fsspec'.  Use pip or conda to install fsspec.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [132]:
df.head(2)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1160736951.py", line 1, in <module>
    df.head(2)
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [133]:
df.tail(2)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\2054361833.py", line 1, in <module>
    df.tail(2)
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [134]:
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1396537375.py", line 1, in <module>
    df
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [135]:
df.shape  # check the rows and columns

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1133441900.py", line 1, in <module>
    df.shape  # check the rows and columns
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [136]:
# to add new column
k=[2,3,4,5,6,7,8,1,2,3,4,5,5,2]
len(k)

14

In [137]:
df['Tax']=k
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3458181981.py", line 1, in <module>
    df['Tax']=k
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [138]:
df['Tax salary']= df['BUID']*df['Tax']/100
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\4001250731.py", line 1, in <module>
    df['Tax salary']= df['BUID']*df['Tax']/100
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [139]:
df['Basic salary']=df['BU']-df['Tax salary']
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\2844370897.py", line 1, in <module>
    df['Basic salary']=df['BU']-df['Tax salary']
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [140]:
df.T

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\2331850720.py", line 1, in <module>
    df.T
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [141]:
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1396537375.py", line 1, in <module>
    df
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [142]:
# Rename column name

df.rename(columns={'Status':'Status'})

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3784993044.py", line 3, in <module>
    df.rename(columns={'Status':'Status'})
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [143]:
# Rename column name permanently

df.rename(columns={'Status':'Status'},inplace=True)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1208802246.py", line 3, in <module>
    df.rename(columns={'Status':'Status'},inplace=True)
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [144]:
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1396537375.py", line 1, in <module>
    df
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [145]:
# Delete column
# in pandas axis 0 is row and axis 1 is column
# inplace is used to delete permanently

df.drop(['Tax'],axis=1)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\2929563677.py", line 5, in <module>
    df.drop(['Tax'],axis=1)
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [146]:
df.sort_values('Mode',ascending=False)  # by default is ascending & we can add ascending=False for descending

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\4188264593.py", line 1, in <module>
    df.sort_values('Mode',ascending=False)  # by default is ascending & we can add ascending=False for descending
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [147]:
df['Rank']=df['Tax'].rank
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1384435434.py", line 1, in <module>
    df['Rank']=df['Tax'].rank
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [148]:
df['Rank']=df['Tax'].rank(ascending=False).astype(int)
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1175337726.py", line 1, in <module>
    df['Rank']=df['Tax'].rank(ascending=False).astype(int)
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [150]:
df.sort_values('Tax',ascending=False)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3191778778.py", line 1, in <module>
    df.sort_values('Tax',ascending=False)
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [151]:
# Rank method
# Dense rank method

In [152]:
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1396537375.py", line 1, in <module>
    df
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [153]:
# to update in dataset

df.loc[df['BU']==3696,['BU']]=2489

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\2728685260.py", line 3, in <module>
    df.loc[df['BU']==3696,['BU']]=2489
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [154]:
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1396537375.py", line 1, in <module>
    df
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [156]:
df['DenseRank']=df['Basic salary'].rank(method='dense',ascending=False).astype('int')
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\2343261493.py", line 1, in <module>
    df['DenseRank']=df['Basic salary'].rank(method='dense',ascending=False).astype('int')
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [157]:
df.sort_values('Basic salary', ascending=False)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\4140233129.py", line 1, in <module>
    df.sort_values('Basic salary', ascending=False)
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [158]:
# to get 3 highest salary

df.nlargest(3,'Basic salary')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1487690555.py", line 3, in <module>
    df.nlargest(3,'Basic salary')
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [159]:
# to get 3 smallest salary
df.nsmallest(3,'Basic salary')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\4018585264.py", line 2, in <module>
    df.nsmallest(3,'Basic salary')
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [160]:
# to first letter of the word in upper case

s=df['Status']
s2=list(s)
s2

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3858740.py", line 3, in <module>
    s=df['Status']
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [161]:
r=[]
for i in s2:
    n=i.title()
    r.append(n)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\902026693.py", line 3, in <module>
    n=i.title()
AttributeError: 'numpy.int32' object has no attribute 'title'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [162]:
r

[]

In [163]:
df['Status']=r

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3448997437.py", line 1, in <module>
    df['Status']=r
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [164]:
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1396537375.py", line 1, in <module>
    df
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [165]:
# to delete the column
df.drop(['Order'], axis=1)   # in pandas axis=1 is column

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3571975523.py", line 2, in <module>
    df.drop(['Order'], axis=1)   # in pandas axis=1 is column
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [166]:
# to delete the row
df.drop([2,5,10], axis=0)   # in pandas axis=0 is row

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\686900234.py", line 2, in <module>
    df.drop([2,5,10], axis=0)   # in pandas axis=0 is row
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [167]:
df[['Basic salary','Tax salary','Tax']].sum()  # column wise sum

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1106383451.py", line 1, in <module>
    df[['Basic salary','Tax salary','Tax']].sum()  # column wise sum
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [168]:
df[['Basic salary','Tax salary','Tax']].max()  # column wise maximum

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1625341235.py", line 1, in <module>
    df[['Basic salary','Tax salary','Tax']].max()  # column wise maximum
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [169]:
df.drop(['Status',], axis=1)   # in pandas axis=1 is column

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3175705877.py", line 1, in <module>
    df.drop(['Status',], axis=1)   # in pandas axis=1 is column
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [170]:
# map: it will give aggregate inside table
# apply
# applymap

In [171]:
t=df2['hindi']
t2=list(t)
t2

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\605536541.py", line 1, in <module>
    t=df2['hindi']
NameError: name 'df2' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [172]:
e=df2['eng']
e2=list(e)
e2

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1704728264.py", line 1, in <module>
    e=df2['eng']
NameError: name 'df2' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
b=list(map(lambda x,y:x+y,t2,e2))

In [ ]:
df2=pd.read_excel("C:/Users/Seema_Dhama/PycharmProjects/Book3.xlsx")
df2

        Student name  hindi  eng  math  sci  Art
0       James Walker     89   92    75   85   96
1      Velma Clemons     32   36    36   57   92
2     Kibo Underwood     85   25    96   25   93
3        Louis Mcgee     32   36    36   85   92
4       Phyllis Paul     32   36    36   36   95
5     Zenaida Decker     32   36    36   36   98
6    Gillian Tillman     32   36    36   36   99
7    Constance Boone     32   36    36   36   97
8  Giselle Lancaster     32   36    36   36   94
9   Kirsten Mcdowell     32   36    36   36   92

In [ ]:
g=df2[['hindi','eng','math','sci','Art']].apply(sum,axis=1)

In [ ]:
df2['Total']=g
df2

        Student name  hindi  eng  math  sci  Art  Total
0       James Walker     89   92    75   85   96    437
1      Velma Clemons     32   36    36   57   92    253
2     Kibo Underwood     85   25    96   25   93    324
3        Louis Mcgee     32   36    36   85   92    281
4       Phyllis Paul     32   36    36   36   95    235
5     Zenaida Decker     32   36    36   36   98    238
6    Gillian Tillman     32   36    36   36   99    239
7    Constance Boone     32   36    36   36   97    237
8  Giselle Lancaster     32   36    36   36   94    234
9   Kirsten Mcdowell     32   36    36   36   92    232

In [ ]:
df2['percent']=df2['Total']/5
df2

        Student name  hindi  eng  math  sci  Art  Total  percent
0       James Walker     89   92    75   85   96    437     87.4
1      Velma Clemons     32   36    36   57   92    253     50.6
2     Kibo Underwood     85   25    96   25   93    324     64.8
3        Louis Mcgee     32   36    36   85   92    281     56.2
4       Phyllis Paul     32   36    36   36   95    235     47.0
5     Zenaida Decker     32   36    36   36   98    238     47.6
6    Gillian Tillman     32   36    36   36   99    239     47.8
7    Constance Boone     32   36    36   36   97    237     47.4
8  Giselle Lancaster     32   36    36   36   94    234     46.8
9   Kirsten Mcdowell     32   36    36   36   92    232     46.4

In [ ]:
def per(x):
    if x>80 and x<100:
        return 'A'
    elif(x>60 and x<80):
        return 'B'
    elif(x>50 and x<60):
        return 'C'
    else:
        return 'Fail'

In [ ]:
df2['grade']=df2['percent'].apply(per)

In [ ]:
df2

        Student name  hindi  eng  math  sci  Art  Total  percent grade
0       James Walker     89   92    75   85   96    437     87.4     A
1      Velma Clemons     32   36    36   57   92    253     50.6     C
2     Kibo Underwood     85   25    96   25   93    324     64.8     B
3        Louis Mcgee     32   36    36   85   92    281     56.2     C
4       Phyllis Paul     32   36    36   36   95    235     47.0  Fail
5     Zenaida Decker     32   36    36   36   98    238     47.6  Fail
6    Gillian Tillman     32   36    36   36   99    239     47.8  Fail
7    Constance Boone     32   36    36   36   97    237     47.4  Fail
8  Giselle Lancaster     32   36    36   36   94    234     46.8  Fail
9   Kirsten Mcdowell     32   36    36   36   92    232     46.4  Fail

In [ ]:
df2

        Student name  hindi  eng  math  sci  Art  Total  percent grade
0       James Walker     89   92    75   85   96    437     87.4     A
1      Velma Clemons     32   36    36   57   92    253     50.6     C
2     Kibo Underwood     85   25    96   25   93    324     64.8     B
3        Louis Mcgee     32   36    36   85   92    281     56.2     C
4       Phyllis Paul     32   36    36   36   95    235     47.0  Fail
5     Zenaida Decker     32   36    36   36   98    238     47.6  Fail
6    Gillian Tillman     32   36    36   36   99    239     47.8  Fail
7    Constance Boone     32   36    36   36   97    237     47.4  Fail
8  Giselle Lancaster     32   36    36   36   94    234     46.8  Fail
9   Kirsten Mcdowell     32   36    36   36   92    232     46.4  Fail

In [ ]:
t=df2.select_dtypes(['int','float'])
t

   hindi  eng  math  sci  Art  Total  percent
0     89   92    75   85   96    437     87.4
1     32   36    36   57   92    253     50.6
2     85   25    96   25   93    324     64.8
3     32   36    36   85   92    281     56.2
4     32   36    36   36   95    235     47.0
5     32   36    36   36   98    238     47.6
6     32   36    36   36   99    239     47.8
7     32   36    36   36   97    237     47.4
8     32   36    36   36   94    234     46.8
9     32   36    36   36   92    232     46.4

In [ ]:
r=t.applymap(lambda x:x+10)  # to add in full dataset
r

C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\880745567.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  r=t.applymap(lambda x:x+10)  # to add in full dataset

   hindi  eng  math  sci  Art  Total  percent
0     99  102    85   95  106    447     97.4
1     42   46    46   67  102    263     60.6
2     95   35   106   35  103    334     74.8
3     42   46    46   95  102    291     66.2
4     42   46    46   46  105    245     57.0
5     42   46    46   46  108    248     57.6
6     42   46    46   46  109    249     57.8
7     42   46    46   46  107    247     57.4
8     42   46    46   46  104    244     56.8
9     42   46    46   46  102    242     56.4

In [ ]:
#iloc : integer location
#loc :label location

In [ ]:
#iloc
df2.iloc[3:6,2:8]   #Data slice

   eng  math  sci  Art  Total  percent
3   36    36   85   92    281     56.2
4   36    36   36   95    235     47.0
5   36    36   36   98    238     47.6

In [ ]:
#loc
r= df2.set_index('Student name')
r

                   hindi  eng  math  sci  Art  Total  percent grade
Student name
James Walker          89   92    75   85   96    437     87.4     A
Velma Clemons         32   36    36   57   92    253     50.6     C
Kibo Underwood        85   25    96   25   93    324     64.8     B
Louis Mcgee           32   36    36   85   92    281     56.2     C
Phyllis Paul          32   36    36   36   95    235     47.0  Fail
Zenaida Decker        32   36    36   36   98    238     47.6  Fail
Gillian Tillman       32   36    36   36   99    239     47.8  Fail
Constance Boone       32   36    36   36   97    237     47.4  Fail
Giselle Lancaster     32   36    36   36   94    234     46.8  Fail
Kirsten Mcdowell      32   36    36   36   92    232     46.4  Fail

In [ ]:
r.loc['James Walker':'Phyllis Paul','Total':'grade']

                Total  percent grade
Student name
James Walker      437     87.4     A
Velma Clemons     253     50.6     C
Kibo Underwood    324     64.8     B
Louis Mcgee       281     56.2     C
Phyllis Paul      235     47.0  Fail

In [ ]:
df2

        Student name  hindi  eng  math  sci  Art  Total  percent grade
0       James Walker     89   92    75   85   96    437     87.4     A
1      Velma Clemons     32   36    36   57   92    253     50.6     C
2     Kibo Underwood     85   25    96   25   93    324     64.8     B
3        Louis Mcgee     32   36    36   85   92    281     56.2     C
4       Phyllis Paul     32   36    36   36   95    235     47.0  Fail
5     Zenaida Decker     32   36    36   36   98    238     47.6  Fail
6    Gillian Tillman     32   36    36   36   99    239     47.8  Fail
7    Constance Boone     32   36    36   36   97    237     47.4  Fail
8  Giselle Lancaster     32   36    36   36   94    234     46.8  Fail
9   Kirsten Mcdowell     32   36    36   36   92    232     46.4  Fail

In [ ]:
df.sample(2)

,Status,BUID,Sales Order Number,GOV Order Stage,Order Health,Shipping Mode,Ticket Initiator,Ticket Last Action Date,Ticket Cancel Req By,Distress,...,Build Facility,Merge Facility,Box Quantity,Box Weight,Software Flag,Tax,Tax salary,Basic salary,Rank,DenseRank
8,Shipped,2489,698848645,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,2,73.92,3622.08,12,2
7,Shipped,2489,698885845,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,1,36.96,3659.04,14,1

In [ ]:
df.sample(5)

,Status,BUID,Sales Order Number,GOV Order Stage,Order Health,Shipping Mode,Ticket Initiator,Ticket Last Action Date,Ticket Cancel Req By,Distress,...,Build Facility,Merge Facility,Box Quantity,Box Weight,Software Flag,Tax,Tax salary,Basic salary,Rank,DenseRank
11,Shipped,2489,698846615,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
3,Shipped,2489,698848892,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
12,Shipped,2489,698886538,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,5,184.80,3511.20,5,5
2,Shipped,2489,698846045,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,4,147.84,3548.16,7,4
5,Shipped,2489,698846268,Shipped,G,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,7,258.72,3437.28,2,7

In [ ]:
# to remove duplicates
df.drop_duplicates()

,Status,BUID,Sales Order Number,GOV Order Stage,Order Health,Shipping Mode,Ticket Initiator,Ticket Last Action Date,Ticket Cancel Req By,Distress,...,Build Facility,Merge Facility,Box Quantity,Box Weight,Software Flag,Tax,Tax salary,Basic salary,Rank,DenseRank
0,Confirmed,2489,698845237,Consolidation,Y,A,NaN,NaN,NaN,NaN,...,3NV (CEVA Nashville Merge Center (BW3) ??? CTO...,3NV (CEVA Nashville Merge Center (BW3) ??? CTO...,NaN,NaN,NaN,2,73.92,3622.08,12,2
1,Shipped,2489,698887205,Shipped,G,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,3,110.88,3585.12,9,3
2,Shipped,2489,698846045,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,4,147.84,3548.16,7,4
3,Shipped,2489,698848892,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
4,Shipped,2489,698848223,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,6,221.76,3474.24,3,6
5,Shipped,2489,698846268,Shipped,G,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,7,258.72,3437.28,2,7
6,Shipped,2489,698855848,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,8,295.68,3400.32,1,8
7,Shipped,2489,698885845,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,1,36.96,3659.04,14,1
8,Shipped,2489,698848645,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,2,73.92,3622.08,12,2
9,Shipped,2489,698886553,Shipped,Y,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,3,110.88,3585.12,9,3
10,Shipped,2489,698847027,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,4,147.84,3548.16,7,4
11,Shipped,2489,698846615,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
12,Shipped,2489,698886538,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,5,184.80,3511.20,5,5
13,Shipped,2489,698886827,Shipped,R,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,2,73.92,3622.08,12,2

In [ ]:
df[df.duplicated(['Status'],keep='last')]  # to remove duplicates lastname

,Status,BUID,Sales Order Number,GOV Order Stage,Order Health,Shipping Mode,Ticket Initiator,Ticket Last Action Date,Ticket Cancel Req By,Distress,...,Build Facility,Merge Facility,Box Quantity,Box Weight,Software Flag,Tax,Tax salary,Basic salary,Rank,DenseRank
1,Shipped,2489,698887205,Shipped,G,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,3,110.88,3585.12,9,3
2,Shipped,2489,698846045,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,4,147.84,3548.16,7,4
3,Shipped,2489,698848892,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
4,Shipped,2489,698848223,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,6,221.76,3474.24,3,6
5,Shipped,2489,698846268,Shipped,G,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,7,258.72,3437.28,2,7
6,Shipped,2489,698855848,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,8,295.68,3400.32,1,8
7,Shipped,2489,698885845,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,1,36.96,3659.04,14,1
8,Shipped,2489,698848645,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,2,73.92,3622.08,12,2
9,Shipped,2489,698886553,Shipped,Y,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,3,110.88,3585.12,9,3
10,Shipped,2489,698847027,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,4,147.84,3548.16,7,4
11,Shipped,2489,698846615,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
12,Shipped,2489,698886538,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,5,184.80,3511.20,5,5

In [ ]:
df.sort_values(['Basic salary','Status'],ascending=[False,True])  # if two entries have same rank and salary, we want to sort the names

,Status,BUID,Sales Order Number,GOV Order Stage,Order Health,Shipping Mode,Ticket Initiator,Ticket Last Action Date,Ticket Cancel Req By,Distress,...,Build Facility,Merge Facility,Box Quantity,Box Weight,Software Flag,Tax,Tax salary,Basic salary,Rank,DenseRank
7,Shipped,2489,698885845,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,1,36.96,3659.04,14,1
0,Confirmed,2489,698845237,Consolidation,Y,A,NaN,NaN,NaN,NaN,...,3NV (CEVA Nashville Merge Center (BW3) ??? CTO...,3NV (CEVA Nashville Merge Center (BW3) ??? CTO...,NaN,NaN,NaN,2,73.92,3622.08,12,2
8,Shipped,2489,698848645,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,2,73.92,3622.08,12,2
13,Shipped,2489,698886827,Shipped,R,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,2,73.92,3622.08,12,2
1,Shipped,2489,698887205,Shipped,G,A,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,3,110.88,3585.12,9,3
9,Shipped,2489,698886553,Shipped,Y,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,3,110.88,3585.12,9,3
2,Shipped,2489,698846045,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,4,147.84,3548.16,7,4
10,Shipped,2489,698847027,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,4,147.84,3548.16,7,4
3,Shipped,2489,698848892,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
11,Shipped,2489,698846615,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,5,184.80,3511.20,5,5
12,Shipped,2489,698886538,Shipped,G,A,NaN,NaN,NaN,NaN,...,BFC (Brazil Fulfillment Center),BFC (Brazil Fulfillment Center),NaN,NaN,False,5,184.80,3511.20,5,5
4,Shipped,2489,698848223,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,6,221.76,3474.24,3,6
5,Shipped,2489,698846268,Shipped,G,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,7,258.72,3437.28,2,7
6,Shipped,2489,698855848,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,8,295.68,3400.32,1,8

In [ ]:
df[(df['Basic salary']>3200) &(df['Basic salary']<3500)]

,Status,BUID,Sales Order Number,GOV Order Stage,Order Health,Shipping Mode,Ticket Initiator,Ticket Last Action Date,Ticket Cancel Req By,Distress,...,Build Facility,Merge Facility,Box Quantity,Box Weight,Software Flag,Tax,Tax salary,Basic salary,Rank,DenseRank
4,Shipped,2489,698848223,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,6,221.76,3474.24,3,6
5,Shipped,2489,698846268,Shipped,G,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,7,258.72,3437.28,2,7
6,Shipped,2489,698855848,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,8,295.68,3400.32,1,8

In [ ]:
df[(df['Status']=='Shipped') &(df['Basic salary']<3500)]

,Status,BUID,Sales Order Number,GOV Order Stage,Order Health,Shipping Mode,Ticket Initiator,Ticket Last Action Date,Ticket Cancel Req By,Distress,...,Build Facility,Merge Facility,Box Quantity,Box Weight,Software Flag,Tax,Tax salary,Basic salary,Rank,DenseRank
4,Shipped,2489,698848223,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,6,221.76,3474.24,3,6
5,Shipped,2489,698846268,Shipped,G,A,NaN,NaN,NaN,NaN,...,BMC (Brazil Merge Center),BMC (Brazil Merge Center),NaN,NaN,False,7,258.72,3437.28,2,7
6,Shipped,2489,698855848,Shipped,G,G,NaN,NaN,NaN,NaN,...,BR1X (AX2012 facility setup for Brazil),BMC (Brazil Merge Center),NaN,NaN,False,8,295.68,3400.32,1,8

In [ ]:
df[~[df['Status']].isin[df['Shipped']]]

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\874615110.py", line 1, in <module>
    df[~[df['Status']].isin[df['Shipped']]]
AttributeError: 'list' object has no attribute 'isin'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [173]:
df.rename(columns={'Basic salary':'Amount'})

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\2686986143.py", line 1, in <module>
    df.rename(columns={'Basic salary':'Amount'})
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
# series method: represent data in 1d array

# series will work on index

import numpy as np
s=np.array([5,6,7,8,1])
s

array([5, 6, 7, 8, 1])

In [ ]:
s2=np.array([2,3,4,5])
s2

array([2, 3, 4, 5])

In [ ]:
import pandas as pd

In [ ]:
t=pd.Series([4,5,6,2,1],index=['A','B','C','D','E'])
t

A    4
B    5
C    6
D    2
E    1
dtype: int64

In [ ]:
t.ndim

1

In [ ]:
t2=pd.Series([6,7,8,9,4],index=['x','y','A','N','E'])
t2

x    6
y    7
A    8
N    9
E    4
dtype: int64

In [ ]:
t+t2

A    12.0
B     NaN
C     NaN
D     NaN
E     5.0
N     NaN
x     NaN
y     NaN
dtype: float64

In [ ]:
g=df['Status']
g2=list(g)
len(g2)

14

In [ ]:
r=['A','b','c','d','e','f','g','h','i','j','k','l','m','n']

# alternate method to run the loop

In [ ]:
m=pd.Series(g2,index=r)
m

A    Confirmed
b      Shipped
c      Shipped
d      Shipped
e      Shipped
f      Shipped
g      Shipped
h      Shipped
i      Shipped
j      Shipped
k      Shipped
l      Shipped
m      Shipped
n      Shipped
dtype: object

In [ ]:
# how to reset index of dataset
df['Index']=r

In [174]:
df.set_index('Index')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\801778539.py", line 1, in <module>
    df.set_index('Index')
NameError: name 'df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [176]:
dm=pd.read_csv('C:\\Users\\Seema_Dhama\\Desktop\\Projects\\Marketplace\\data1.csv')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\3954902219.py", line 1, in <module>
    dm=pd.read_csv('C:\\Users\\Seema_Dhama\\Desktop\\Projects\\Marketplace\\data1.csv')
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 948, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 611, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 1448, in __init__
    self._engine = self._make_engine(f, self.engine)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\parsers\readers.py", line 1705, in _make_engine
    self.handles = get_handle(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\io\common.py", line 863, in get_handle
    handle = open(
FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Seema_Dhama\\Desktop\\Projects\\Marketplace\\data1.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [175]:
dm

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_40328\1413341477.py", line 1, in <module>
    dm
NameError: name 'dm' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
# series work on index
# Group by is used to summarize data

In [ ]:
# group by
import pandas as pd
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

In [ ]:
t=df.groupby(['Year'])
t

In [ ]:
for i,j in t:
    print(i)
    print(j)

(2014,)
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
(2015,)
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
(2016,)
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
(2017,)
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [ ]:
t2=df.groupby(['Team'])

In [ ]:
for i,j in t2:
    print(i)
    print(j)

('Devils',)
     Team  Rank  Year  Points
2  Devils     2  2014     863
3  Devils     3  2015     673
('Kings',)
    Team  Rank  Year  Points
4  Kings     3  2014     741
6  Kings     1  2016     756
7  Kings     1  2017     788
('Riders',)
      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690
('Royals',)
      Team  Rank  Year  Points
9   Royals     4  2014     701
10  Royals     1  2015     804
('kings',)
    Team  Rank  Year  Points
5  kings     4  2015     812

In [ ]:
t['Team'].value_counts()

Year  Team
2014  Devils    1
      Kings     1
      Riders    1
      Royals    1
2015  Devils    1
      Riders    1
      Royals    1
      kings     1
2016  Kings     1
      Riders    1
2017  Kings     1
      Riders    1
Name: count, dtype: int64

In [ ]:
import pandas as pd
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2014,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

In [ ]:
t=df.groupby(['Year'])

In [ ]:
t['Team'].value_counts()

Year  Team
2014  Riders    2
      Devils    1
      Kings     1
      Royals    1
2015  Devils    1
      Royals    1
      kings     1
2016  Kings     1
      Riders    1
2017  Kings     1
      Riders    1
Name: count, dtype: int64

In [ ]:
t=df.groupby('Team')

In [ ]:
for i,j in t:
    print(i)
    print(j)

Devils
     Team  Rank  Year  Points
2  Devils     2  2014     863
3  Devils     3  2015     673
Kings
    Team  Rank  Year  Points
4  Kings     3  2014     741
6  Kings     1  2016     756
7  Kings     1  2017     788
Riders
      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2014     789
8   Riders     2  2016     694
11  Riders     2  2017     690
Royals
      Team  Rank  Year  Points
9   Royals     4  2014     701
10  Royals     1  2015     804
kings
    Team  Rank  Year  Points
5  kings     4  2015     812

In [ ]:

t=df.groupby('Team')
t

In [ ]:
n=t2['Points'].sum()
n

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

In [ ]:
p= t['Points'].sum()
p

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

In [ ]:
# to check datatype of p
type(p)

pandas.core.series.Series

In [ ]:
# convert series to dataframe

df=pd.DataFrame(p)
df

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
df.sort_values('Points', ascending=False).head(1)

        Points
Team
Riders    3049

In [ ]:
# different way to find highest points
df[df.Points==df['Points'].max()]

        Points
Team
Riders    3049

In [ ]:
df

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
# groupy by on two columns

s=df.groupby(['Team','Year'])
s

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\2823212606.py", line 3, in <module>
    s=df.groupby(['Team','Year'])
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 8869, in groupby
    return DataFrameGroupBy(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\groupby.py", line 1278, in __init__
    grouper, exclusions, obj = get_grouper(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\grouper.py", line 1009, in get_grouper
    raise KeyError(gpr)
KeyError: 'Year'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
for i,j in s:
    print(i)
    print(j)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\2114098997.py", line 1, in <module>
    for i,j in s:
TypeError: cannot unpack non-iterable numpy.int32 object

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
s=df.groupby(['Year'])
s

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\3217416058.py", line 1, in <module>
    s=df.groupby(['Year'])
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 8869, in groupby
    return DataFrameGroupBy(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\groupby.py", line 1278, in __init__
    grouper, exclusions, obj = get_grouper(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\grouper.py", line 1009, in get_grouper
    raise KeyError(gpr)
KeyError: 'Year'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
r=s[['Team','Points']].sum()
r

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\1326656754.py", line 1, in <module>
    r=s[['Team','Points']].sum()
IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
df.groupby(['Year','Team'])[['Points']].sum()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\473732554.py", line 1, in <module>
    df.groupby(['Year','Team'])[['Points']].sum()
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 8869, in groupby
    return DataFrameGroupBy(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\groupby.py", line 1278, in __init__
    grouper, exclusions, obj = get_grouper(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\grouper.py", line 1009, in get_grouper
    raise KeyError(gpr)
KeyError: 'Year'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
df

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
df[df.Points==df['Points'].max()]

        Points
Team
Riders    3049

In [ ]:
#Pivot tables:summarization of overall data with aggregation functions

# in pandas by default aggregate function is mean

df.pivot_table(index='Team')

        Points
Team
Devils  1536.0
Kings   2285.0
Riders  3049.0
Royals  1505.0
kings    812.0

In [ ]:
df[['Points','Team']].pivot_table(index='Team')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\1447880010.py", line 1, in <module>
    df[['Points','Team']].pivot_table(index='Team')
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 3899, in __getitem__
    indexer = self.columns._get_indexer_strict(key, "columns")[1]
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\indexes\base.py", line 6115, in _get_indexer_strict
    self._raise_if_missing(keyarr, indexer, axis_name)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\indexes\base.py", line 6179, in _raise_if_missing
    raise KeyError(f"{not_found} not in index")
KeyError: "['Team'] not in index"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
df[['Points','Year']].pivot_table(index='Year',aggfunc='sum')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\1041452925.py", line 1, in <module>
    df[['Points','Year']].pivot_table(index='Year',aggfunc='sum')
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 3899, in __getitem__
    indexer = self.columns._get_indexer_strict(key, "columns")[1]
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\indexes\base.py", line 6115, in _get_indexer_strict
    self._raise_if_missing(keyarr, indexer, axis_name)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\indexes\base.py", line 6179, in _raise_if_missing
    raise KeyError(f"{not_found} not in index")
KeyError: "['Year'] not in index"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
df

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
df.pivot_table(index='Team',columns='Year',aggfunc='count')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\1577367516.py", line 1, in <module>
    df.pivot_table(index='Team',columns='Year',aggfunc='count')
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 9190, in pivot_table
    return pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 99, in pivot_table
    table = __internal_pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 168, in __internal_pivot_table
    grouped = data.groupby(keys, observed=observed, sort=sort, dropna=dropna)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 8869, in groupby
    return DataFrameGroupBy(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\groupby.py", line 1278, in __init__
    grouper, exclusions, obj = get_grouper(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\grouper.py", line 1009, in get_grouper
    raise KeyError(gpr)
KeyError: 'Year'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
df.pivot_table(index='Team',columns='Year',aggfunc='max')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\3634136722.py", line 1, in <module>
    df.pivot_table(index='Team',columns='Year',aggfunc='max')
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 9190, in pivot_table
    return pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 99, in pivot_table
    table = __internal_pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 168, in __internal_pivot_table
    grouped = data.groupby(keys, observed=observed, sort=sort, dropna=dropna)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 8869, in groupby
    return DataFrameGroupBy(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\groupby.py", line 1278, in __init__
    grouper, exclusions, obj = get_grouper(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\grouper.py", line 1009, in get_grouper
    raise KeyError(gpr)
KeyError: 'Year'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
df.pivot_table(index='Team',columns='Year',aggfunc='max',fill_value=0)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\1298441279.py", line 1, in <module>
    df.pivot_table(index='Team',columns='Year',aggfunc='max',fill_value=0)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 9190, in pivot_table
    return pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 99, in pivot_table
    table = __internal_pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 168, in __internal_pivot_table
    grouped = data.groupby(keys, observed=observed, sort=sort, dropna=dropna)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 8869, in groupby
    return DataFrameGroupBy(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\groupby.py", line 1278, in __init__
    grouper, exclusions, obj = get_grouper(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\grouper.py", line 1009, in get_grouper
    raise KeyError(gpr)
KeyError: 'Year'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
df.pivot_table(index='Team',columns='Year',aggfunc='max',fill_value=0,margins=True)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Seema_Dhama\AppData\Local\Temp\ipykernel_24308\4000588350.py", line 1, in <module>
    df.pivot_table(index='Team',columns='Year',aggfunc='max',fill_value=0,margins=True)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 9190, in pivot_table
    return pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 99, in pivot_table
    table = __internal_pivot_table(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\reshape\pivot.py", line 168, in __internal_pivot_table
    grouped = data.groupby(keys, observed=observed, sort=sort, dropna=dropna)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\frame.py", line 8869, in groupby
    return DataFrameGroupBy(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\groupby.py", line 1278, in __init__
    grouper, exclusions, obj = get_grouper(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\pandas\core\groupby\grouper.py", line 1009, in get_grouper
    raise KeyError(gpr)
KeyError: 'Year'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\executing\executing.py", line 333, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "C:\Users\Seema_Dhama\AppData\Roaming\Python\Python310\site-packages\asttokens\asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

In [ ]:
# concatenation: it will join two tables only
# Join : it will join two tables and do comparison

In [ ]:

df

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
# diving above table in two tables using slicing

t=df.iloc[0:6,0:]
t

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
t2=df.iloc[6:,0:]
t2

Empty DataFrame
Columns: [Points]
Index: []

In [ ]:
# concatenation

d=pd.concat([t,t2])  # by default it merge both tables vertically for this column should be same
d

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
d2=pd.concat([t,t2],axis=1)  #  it merge both tables horizontally for this column should not be same
d2

        Points  Points
Team
Devils    1536     NaN
Kings     2285     NaN
Riders    3049     NaN
Royals    1505     NaN
kings      812     NaN

In [ ]:
df

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
# to break table column wise

g=df.iloc[0:,0:2]
g

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:

g2=df.iloc[0:,2:]
g2

Empty DataFrame
Columns: []
Index: [Devils, Kings, Riders, Royals, kings]

In [ ]:
d2=pd.concat([g,g2],axis=1)  #  it merge both tables horizontally for this column should not be same
d2

        Points
Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812

In [ ]:
# Joins in pandas:-

# Left Join
# Right Join
# Inner join
# full join

In [ ]:
import pandas as pd

one = pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id':['sub1','sub2','sub3','sub4','sub5'],
    'Marks_scored':[98,90,87,69,78],
    'Rank': [1,1,2,10,7]})

In [ ]:
two = pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id':['sub1','sub2','sub3','sub7','sub8'],
    'Marks_scored':[89,80,79,97,88],
    'Rank': [1,2,5,1,2]})

In [ ]:
print (pd.merge(one,two,on='id'))  # by default it will join with inner join

   id  Name_x subject_id_x  Marks_scored_x  Rank_x Name_y subject_id_y  \
0   1    Alex         sub1              98       1  Billy         sub1
1   2     Amy         sub2              90       1  Brian         sub2
2   3   Allen         sub3              87       2   Bran         sub3
3   4   Alice         sub4              69      10  Bryce         sub7
4   5  Ayoung         sub5              78       7  Betty         sub8

   Marks_scored_y  Rank_y
0              89       1
1              80       2
2              79       5
3              97       1
4              88       2

In [ ]:
print (pd.merge(one,two,on='id',how='left'))

   id  Name_x subject_id_x  Marks_scored_x  Rank_x Name_y subject_id_y  \
0   1    Alex         sub1              98       1  Billy         sub1
1   2     Amy         sub2              90       1  Brian         sub2
2   3   Allen         sub3              87       2   Bran         sub3
3   4   Alice         sub4              69      10  Bryce         sub7
4   5  Ayoung         sub5              78       7  Betty         sub8

   Marks_scored_y  Rank_y
0              89       1
1              80       2
2              79       5
3              97       1
4              88       2

In [ ]:
print (pd.merge(one,two,on='id',how='right'))

   id  Name_x subject_id_x  Marks_scored_x  Rank_x Name_y subject_id_y  \
0   1    Alex         sub1              98       1  Billy         sub1
1   2     Amy         sub2              90       1  Brian         sub2
2   3   Allen         sub3              87       2   Bran         sub3
3   4   Alice         sub4              69      10  Bryce         sub7
4   5  Ayoung         sub5              78       7  Betty         sub8

   Marks_scored_y  Rank_y
0              89       1
1              80       2
2              79       5
3              97       1
4              88       2

In [ ]:
print (pd.merge(one,two,on='id',how='outer'))

   id  Name_x subject_id_x  Marks_scored_x  Rank_x Name_y subject_id_y  \
0   1    Alex         sub1              98       1  Billy         sub1
1   2     Amy         sub2              90       1  Brian         sub2
2   3   Allen         sub3              87       2   Bran         sub3
3   4   Alice         sub4              69      10  Bryce         sub7
4   5  Ayoung         sub5              78       7  Betty         sub8

   Marks_scored_y  Rank_y
0              89       1
1              80       2
2              79       5
3              97       1
4              88       2